In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.preprocessing as LableEncoder
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

In [81]:
df_train = pd.read_csv("D:\\Data Science\\netzwrek\\Data\\train.csv")
df_test = pd.read_csv("D:\\Data Science\\netzwrek\\Data\\test.csv")

In [82]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
data1     10000 non-null int64
data2     10000 non-null int64
data3     10000 non-null object
data4     10000 non-null float64
data5     9999 non-null float64
data6     9997 non-null float64
data7     9998 non-null float64
data8     9999 non-null float64
data9     9999 non-null object
data10    9999 non-null object
output    9999 non-null float64
dtypes: float64(6), int64(2), object(3)
memory usage: 859.5+ KB

In [83]:
df_train.dropna(axis = 0, inplace = True)

In [92]:
label_encoder = preprocessing.LabelEncoder()

df_train['data3']= label_encoder.fit_transform(df_train['data3'])
df_train['data9']= label_encoder.fit_transform(df_train['data9'])
df_train['data10']= label_encoder.fit_transform(df_train['data10'])

df_test['data3']= label_encoder.fit_transform(df_test['data3'])
df_test['data9']= label_encoder.fit_transform(df_test['data9'])
df_test['data10']= label_encoder.fit_transform(df_test['data10'])


df_train['data1']= label_encoder.fit_transform(df_train['data1'])
df_train['data2']= label_encoder.fit_transform(df_train['data2'])
df_train['data4']= label_encoder.fit_transform(df_train['data4'])

df_test['data1']= label_encoder.fit_transform(df_test['data1'])
df_test['data2']= label_encoder.fit_transform(df_test['data2'])
df_test['data4']= label_encoder.fit_transform(df_test['data4'])

df_train['data5']= label_encoder.fit_transform(df_train['data5'])
df_train['data6']= label_encoder.fit_transform(df_train['data6'])
df_train['data7']= label_encoder.fit_transform(df_train['data7'])
df_train['data8']= label_encoder.fit_transform(df_train['data8'])

df_test['data5']= label_encoder.fit_transform(df_test['data5'])
df_test['data6']= label_encoder.fit_transform(df_test['data6'])
df_test['data7']= label_encoder.fit_transform(df_test['data7'])
df_test['data8']= label_encoder.fit_transform(df_test['data8'])

In [91]:
df_train.head()

,data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,output
0,8,179,2,2272,139,1,9279,1,1,0,86.108947
1,1,8,7,2137,652,1,7166,0,1,0,42.606833
2,8,158,0,4582,1808,1,8739,1,1,0,85.625961
3,4,47,0,2913,944,1,6002,1,1,0,53.656277
4,5,130,7,82,336,1,4699,0,1,0,64.925051

In [93]:
df_train.isnull().sum()

data1     0
data2     0
data3     0
data4     0
data5     0
data6     0
data7     0
data8     0
data9     0
data10    0
output    0
dtype: int64

In [94]:
np.any(np.isnan(df_train))

False

In [108]:
plt.figure(figsize = (10,10))
sns.scatterplot(x = df_train['data1'], y = df_train['ouptput'])

AttributeError: module 'seaborn' has no attribute 'scatterplot'

In [113]:
i = df_train.loc[df_train['data1'] > 75].index
print(i)
df_train.drop(i, inplace = True)

Int64Index([], dtype='int64')

In [127]:
plt.figure(figsize = (10,10))
sns.scatterplot(x = df_train['data1'], y = df_train['ouptput'])

AttributeError: module 'seaborn' has no attribute 'scatterplot'

In [115]:
i = df_train.loc[df_train['data4'] > 50].index
print(i)
df_train.drop(i, inplace = True)

i = df_train.loc[df_train['data4'] < 10].index
print(i)
df_train.drop(i, inplace = True)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            9990, 9991, 9992, 9993, 9994, 9995, 9996, 9997, 9998, 9999],
           dtype='int64', length=9946)
Int64Index([81, 1309, 2193, 3329, 5172, 6363, 6368, 7084, 8569, 8964], dtype='int64')

In [139]:
plt.figure(figsize = (10,10))
sns.scatterplot(x = df_train['data5'], y = df_train['ouptput'])

AttributeError: module 'seaborn' has no attribute 'scatterplot'

In [117]:
del df_train["data10"]
del df_test["data10"]

In [118]:
df_train

      data1  data2  data3  data4  data5  data6  data7  data8  data9     output
89        3     28      5     41   1120      1   7377      1      1  45.109456
131       7    162      4     11    510      1   7473      2      1  75.921665
198       3    167      0     47     30      1   1663      0      1  67.219174
201       0    145      4     21   1523      1   1506      0      1  59.591458
1072      4    143      2     23   1783      1   4217      1      1  65.916830
1203      7    104      1     25    311      1   9231      2      1  66.116280
1207      3    121      3     36   1851      1   5887      1      1  62.247466
1623      3    175      0     42    101      1   9142      0      1  76.258451
1803      2    170      4     38   1724      1   6259      2      1  71.414271
1889      5     93      0     33    640      1   2051      2      1  54.775102
1943      0    154      0     46   1203      1   6116      1      1  66.100690
2411      3      7      4     50    299      1   5098      0      1  38.635864
2818      1     49      4     12    231      1   2143      1      1  42.025986
2961      5    105      5     37   1185      1   3029      0      1  58.146817
3130      1     30      2     10   1986      1   4221      2      1  40.285838
3196      0    190      1     44   1958      1   2449      2      1  69.586932
3419      9    151      4     40    610      1   3872      2      1  72.179035
3580      2    180      2     19    635      1   8662      0      1  75.698434
4652      1     71      0     28   1568      1   5395      1      1  49.688690
4782      6    110      6     49   1223      1   5898      0      1  63.089971
4854      1    103      2     32    395      1   6452      2      1  57.196099
4993      4    115      7     45    685      1    330      0      1  56.456478
5168      7     61      3     16    851      0   7477      0      1  55.743093
5697      0    121      3     24     12      0   6505      1      1  59.834516
5945      3     14      3     31    366      0    220      1      1  35.100943
6177      0     81      0     43    829      0    586      1      0  46.318997
6406      4    118      1     18    905      0   9540      0      0  66.610001
6786      5    159      0     15   1441      0   8954      2      0  75.180730
6949      9    136      1     48    738      0    640      2      0  66.389344
7004      6    173      5     39   1349      0   9292      0      0  79.404526
7033      2    161      7     26   1421      0   3451      2      0  67.139103
7771      5    148      5     14   1151      0   1500      1      0  65.579538
7874      6    127      6     20    648      0    929      2      0  61.786246
8394      4    187      0     34   1472      0   4847      0      0  75.748317
8748      0      0      3     35   1905      0   2492      0      0  32.015264
8811      5     92      6     13   1362      0   3784      0      0  56.631914
8833      9     62      7     22    105      0   6341      2      0  57.256166
8953      4    181      0     29   1063      0    332      1      0  70.017191
9105      4     10      4     17    883      0   5480      1      0  40.954707
9157      6    160      4     30    610      0   1948      1      0  69.473251
9187      5    133      0     27    196      0   9888      2      0  70.951631

In [119]:
X = df_train.drop(['output'], axis = 1, inplace = False )
y = df_train['output']

In [120]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25, random_state = 10)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(30, 9) (11, 9) (30,) (11,)

In [123]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [124]:
y_pred = regressor.predict(X_test)
df_predict = pd.DataFrame({'Actual':y_test, 'Predicted': y_pred})
df_predict

         Actual  Predicted
7033  67.139103  67.164383
2818  42.025986  41.994454
8394  75.748317  75.758038
198   67.219174  67.196254
4854  57.196099  57.170986
3580  75.698434  75.741127
4652  49.688690  49.701370
1623  76.258451  76.275268
6786  75.180730  75.226069
2961  58.146817  58.151881
7771  65.579538  65.558664

In [125]:
r2_score(y_test, y_pred)

0.9999942695779217

In [129]:
from sklearn.neighbors import KNeighborsClassifier

In [131]:
knn = KNeighborsClassifier(n_neighbors=9)
knn.fit(X_train,y_train)

ValueError: Unknown label type: 'continuous'

In [133]:
from sklearn.neighbors import KNeighborsRegressor

In [135]:
knn = KNeighborsRegressor(n_neighbors=9)
knn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=9, p=2,
          weights='uniform')

In [137]:
y_pred = knn.predict(X_test)
df_predict = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
df_predict

         Actual  Predicted
7033  67.139103  57.828403
2818  42.025986  59.123959
8394  75.748317  56.226924
198   67.219174  57.767668
4854  57.196099  59.491615
3580  75.698434  64.105259
4652  49.688690  56.141950
1623  76.258451  64.105259
6786  75.180730  65.678382
2961  58.146817  57.828403
7771  65.579538  58.883754

In [138]:
r2_score(y_test, y_pred)

0.01812850356171314